<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer Template</title>
</head>
<body>
    <footer class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <p class="mb-1 text-white">&copy; 2023 Fastcampus, Inc</p>
                <p>
                    <a class="text-warning" target="_blank" href="https://github.com/ddmkim94/fastcampus-project-board">프로젝트 깃허브 링크</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
