<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a th:href="@{/}" class="nav-link px-2 text-secondary text-decoration-none">Home</a>
                    </li>
                    <li>
                        <a id="hashtag" th:href="@{/articles/search-hashtag}" class="nav-link px-2 text-secondary">Hashtags</a>
                    </li>
                </ul>

                <div class="text-end">
                    <span class="text-white me-2" sec:authorize="isAuthenticated()" th:text="${#authentication.principal?.nickname}"></span>
                    <a sec:authorize="isAnonymous()" class="btn btn-outline-light me-2" th:href="@{/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" class="btn btn-outline-light me-2" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
