<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script defer th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="layout/header::header"></header>

    <main class="container flex-grow-1" th:object="${article}">
        <header class="py-5 text-center">
            <h1 th:text="*{title}"></h1>
        </header>

        <div class="row g-5">
            <section class="col-md-3 col-lg-4 order-md-last">
                <aside>
                    <p><span class="nick-name badge bg-warning" th:text="*{nickname()}"></span></p>
                    <p><a class="u-url" rel="me" href="mailto:test@gmail.com" th:text="*{email}"></a></p>
                    <p><time th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}"></time></p>
                    <p class="badge bg-warning" th:text="*{hashtag}"></p>
                </aside>
            </section>

            <article id="article-content" class="col-md-9 col-lg-8">
                <p th:text="*{content}"></p>
            </article>
        </div>

        <div class="row g-5" id="article-buttons">
            <form id="delete-article-form" th:action="@{|/articles/*{id}/delete|}" method="post">
                <div class="pb-5 d-grid gap-2 d-md-block">
                    <a class="btn btn-success me-md-2" role="button" th:href="@{|/articles/*{id}/form|}">수정</a>
                    <button class="btn btn-danger me-md-2" type="submit">삭제</button>
                </div>
            </form>
        </div>

        <div class="row g-5">
            <section>
                <form class="row g-3">
                    <div class="col-md-9 col-lg-8">
                        <label for="comment-textbox" hidden>댓글</label>
                        <textarea class="form-control" id="comment-textbox" placeholder="댓글 쓰기.." rows="3"></textarea>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <label for="comment-submit" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
                    </div>
                </form>

                <ul id="article-comments" class="row col-md-10 col-lg-8 pt-3">
                    <li th:each="comment : ${articleComments}">
                        <div class="row">
                            <time><small th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></small></time>
                            <strong th:text="${comment.nickname}"></strong>
                            <p th:text="${comment.content}"></p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="row g-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">이전글</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">다음글</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <footer th:replace="layout/footer::footer"></footer>
</body>
</html>
