<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/search-bar.css}">
    <script defer th:src="@{js/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="layout/header::header"></header>

    <main class="container flex-grow-1">
        <div class="row">
            <div class="card card-margin search-form">
                <div class="card-body p-0">
                    <form id="card search-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <label for="search-type" hidden>검색 유형</label>
                                        <select class="form-control" id="search-type">
                                            <option value="title" selected>제목</option>
                                            <option value="content">본문</option>
                                            <option value="content">아이디</option>
                                            <option value="content">닉네임</option>
                                            <option value="hashtag">해시태그</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <label for="search-value" hidden>검색어</label>
                                        <input type="text" placeholder="검색어를 입력해주세요." class="form-control" id="search-value" name="search-value">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table" id="article-table">
            <thead>
                <tr>
                    <th class="col-6">제목</th>
                    <th class="col-2">해시태그</th>
                    <th class="col">작성자</th>
                    <th class="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}">
                    <td>
                        <a th:href="@{|/articles/${article.id}|}" th:text="${article.title}"></a>
                    </td>
                    <td th:text="${article.hashtag}"></td>
                    <td th:text="${article.nickname}"></td>
                    <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </main>

    <footer th:replace="layout/footer::footer"></footer>
</body>
</html>
